*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#magia{
    display: flex;

    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

    background-image: url('papel_wp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
};

.card-magia{
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #000;
    width: max-content;
    padding: 8px 16px;
    margin: 10px;
};

button[type="submit"] {

    margin-left: auto; /* Move o botão para a direita */

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    background-color: #4CAF50;

    color: #FFFFFF;

    cursor: pointer;
}

button[type="submit"]:hover {

    background-color: #00ff08;

}

.card-magia header h2{
    font-size: 24px;
}

.card-magia header p {
    font-size: 18px;
}

.formulario{
    display: inline;
    position: relative;
    top: 30px;
    left: 12px;
}

